* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.masonry {
  width: 1440px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
  /* set card-count to 0 */
  counter-reset: card-count;
}

.card {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 30px;
  counter-increment: card-count;
  position: relative;
}

.card::before {
  content: counter(card-count);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 4px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 36px;
}

img {
  width: 100%;
  background-color: #eee;
}

h2 {
  padding: 8px 0;
}

P {
  color: #555;
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
  .masonry {
    width: 96vw;
    columns: 3;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .masonry {
    width: 96vw;
    columns: 2;
    column-gap: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .masonry {
    width: 96vw;
    columns: 1;
  }
}