* {
  --card-width: 20vw;
  --divider-width: 2vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.masonry {
  width: calc(var(--card-width) * 4 + var(--divider-width)*3);
  height: 500vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  counter-reset: cards;
}

.divider1,
.divider2,
.divider3 {
  content: "";
  flex-basis: 100%;
  width: var(--divider-width);
  background-color: #eee;
}

.divider1 {
  order: 1;
}

.divider2 {
  order: 2;
}

.divider3 {
  order: 3;
}

.card {
  width: var(--card-width);
  margin-bottom: 30px;
  position: relative;
}

.card::before {
  counter-increment: cards;
  content: counter(cards);
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  width: fit-content;
  font-size: 46px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  place-items: center;
}

.card:nth-of-type(4n+1) {
  order: 1;
}

.card:nth-of-type(4n+2) {
  order: 2;
}

.card:nth-of-type(4n+3) {
  order: 3;
}

.card:nth-of-type(4n+4) {
  order: 4;
}

img {
  width: 100%;
  background-color: #eee;
}

h2 {
  padding: 8px 0;
}

P {
  color: #555;
}